.album {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  position: relative;
  border: 1 solid white;
}

.front, .back {
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  
  border: 2px solid black;
  background-color: gray;
  text-align: center;
  cursor: pointer;
}

.back {
  transform: rotateX('180deg');
}